/* Base Styling */
body {
  display: block;
  margin: 0;
  background-color: #ffffff;
  text-align: center;
}

/* Container for the animation */
.logo-container {
  font-family: Arial, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  white-space: nowrap;
  visibility: visible;
  position: relative;
  display: inline-block;
}

/* Initial styling for each part */
.logo-container span {
  display: inline-block;
  opacity: 0;
}

/* Colors */
.ev,
.lectri {
  color: #32cd32;
}

.v,
.ys {
  color: #006400;
}

.electricity {
  position: absolute;
  left: 50%;
  top: 60%; 
  transform: translate(-80%, -80%); 
  animation: bikeMove 1.2s ease-in-out forwards;
}


/* Fix animations */
.logo-container .ev {
  animation: fadeIn 1s ease forwards;
}

.logo-container .lectri {
  transform: translateX(0);
  animation: slideInLectri 1s 1s forwards;
}

.logo-container .v {
  opacity: 1;
  transform: translateX(0);
  animation: moveVRight 1s 1s forwards;
}

.logo-container .ys {
  opacity: 0;
  transform: translateX(-1em);
  animation: slideInYS 1s 1s forwards;
}

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLectri {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-0.7em);
  }
}

@keyframes moveVRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(2.3em);
  }
}

@keyframes slideInYS {
  0% {
    opacity: 0;
    transform: translateX(0.6);
  }
  100% {
    opacity: 1;
    transform: translateX(-0.1em);
  }
}

@keyframes bikeMove {
  0% {
    transform: translateX(120%);
    opacity: 1;
  }
  100% {
    transform: translateX(-600%); 
    opacity: 0;
  }
}

/* Software text */
.software-text {
  font-size: 1em;
  color: #b0c4de;
  opacity: 0;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: fadeInSoftwareText 2s forwards 2s;
}

@keyframes fadeInSoftwareText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
